{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-8">
    <h2>Rechercher une personne dans l'annuaire</h2>
  </div>
  <div class="col-4">
    <input class="form-control"
           id="myInput"
           type="text"
           placeholder="Rechercher ...">
  </div>
</div>

<div class="row">
  {% for profile in profile_list %}
  <div class="col-sm-6 col-lg-4 mb-2">
    <div class="card border-primary" id="filterList">
      <div class="card-header" id="header">
        <div class="row justify-content-between align-items-center">
          <div class="col text-primary">
            {{ profile.user.first_name|title }} {{ profile.user.last_name|upper }}
          </div>
          {# display the sandwich #}
          <div class="col col-auto">
            <button type="button" class="btn btn-outline-primary btn-sm"
                                  data-toggle="collapse"
                                  data-target=".collapse-{{profile.user}}">
              &#9776; 
            </button>
          </div>
        </div>
      </div>

      <div class="card-body collapse collapse-{{profile.user}}">
        {% if profile.promo != None %}
        <p>Diplomé(e) en {{profile.promo}}{% if profile.gap_year == True %} après une césure{% endif %}</p>
        {% endif %}
        <p> Bio: {{profile.bio}}</p>
        <p> Misc: {{profile.miscellaneous}}</p>
        {% if profile.city or profile.region or profile.country %}
        <p> Résidence : {% if profile.city != None %}
        {{ profile.city }}, {% endif %}{% if profile.region != None %}
        {{ profile.region }}, {% endif %}
        {{ profile.country|default_if_none:"" }}</p>
        {% endif %}
      </div>

      <div class="card-footer collapse collapse-{{profile.user}}">
        <a class="badge" href="{% url 'view_profile' profile.user %}">Voir
          détail</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#filterList #header").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

{% endblock content %}
