{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="row">
  <div class="col-4 col-md-2 col-sm-3">
    <div class="card">
      {% if user.profile.photo %}
      <img class="card-img-top" src="{{ user.profile.photo.url }}"
                                width=100%>
      {% else %}
      <img class="card-img-top" src="{% static 'annuaire/img/mario.jpg' %}"
                                width=100%>
      {% endif %}
    </div>
  </div>
  <div class="col-8 col-md-10 col-sm-9">
    <div class="row">
      <div class="col-sm-auto ml-auto order-sm-last">
        {% if request.user == user %}
        <a class="badge"  href="{% url 'update_profile' %}"> Modifier mon profil</a>
        {% endif %}
      </div>
      <div class="col order-sm-start">
        <h2>{{ user.first_name|title }} {{ user.last_name|upper }} :</h2>
      </div>
    </div>

    <dl class="row">
      <dt class="col-md-4 col-lg-3 text-muted">
      Pseudonyme :
      </dt>
      <dd class="col-md-8 col-lg-9 align-self-end">
      {{ user.username|title }}
      </dd>

      {% if user.profile.promo != None %}
      <dt class="col-md-4 col-lg-3 text-muted">
      Année de diplome :
      </dt>
      <dd class="col-md-8 col-lg-9 align-self-end">
      {{ user.profile.promo }}{% if user.profile.gap_year %}, après une
      césure{% endif %}
      </dd>
      {% endif %}

      {% if user.profile.country %}
      <dt class="col-md-4 col-lg-3 text-muted">
      Résidence :
      </dt>
      <dd class="col-md-8 col-lg-9 align-self-end">
      {% if user.profile.region %}
        {% if user.profile.city %}
          {{ user.profile.city }}, {% endif %}
        {{ user.profile.region }}, {% endif %}
      {{ user.profile.country }}
      </dd>
      {% endif %}

      {% if user.email %}
      <dt class="col-md-4 col-lg-3 text-muted">
      Email :
      </dt>
      <dd class="col-md-8 col-lg-9 align-self-end">
        {{ user.email }}
      </dd>
      {% endif %}

      {% if user.profile.bio %}
      <dt class="col-md-4 col-lg-3 text-muted">
      À propos de vous :
      </dt>
      <dd class="col-md-8 col-lg-9 align-self-end">
      {{ user.profile.bio }}
      </dd>
      {% endif %}

      {% if user.profile.miscellaneous %}
      <dt class="col-md-4 col-lg-3 text-muted">
      Divers :
      </dt>
      <dd class="col-md-8 col-lg-9 align-self-end">
      {{ user.profile.miscellaneous }}
      </dd>
      {% endif %}
    </dl>
  </div>
</section>
<section class="row">
</section>
{% endblock content %}
