{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="row">
  <div class="card col-2">
    {% if user.profile.photo %}
    <img src="{{ user.profile.photo.url }}"
         width=100%>
    {% else %}
    <img src="{% static 'annuaire/img/mario.jpg' %}"
         width=100%>
    {% endif %}
    <button class="btn" type="button">Modifier</button>
  </div>
  <div class="col-10">
  <h2>Infos :</h2>
  <p> {{ user.username }} </p>
  <p> {{ user.profile.promo }} </p>
  </div>
  <div class="col-11">
	  <a class="nav-link"  href="/update"> Modifier mon profil</a>
</section>
{% endblock content %}
