{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_forms %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {# Manage the non field error #}
  {# Not tested #}
  {% if user_form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
  </div>
  {% endif %}

  {# username field #}
  <div class="form-group">
    {% label user_form.username %}

    {% input_field user_form.username request.method 'yoyo' %}
    {% help_text user_form.username %}
    {% errors user_form.username %}
  </div>

  {# Email field #}
  <div class="form-group">
    {% label user_form.email %}

    {% input_field user_form.email request.method 'lionel@jospin2022.fr' %}
    {% errors user_form.email %}
  </div>

  {# First and Last name fields #}
  <div class="form-group row">
    <div class="col-md-5">
      {% label user_form.first_name %}

      {% input_field user_form.first_name request.method 'Lionel' %}
      {% errors user_form.first_name %}
    </div>
    <div class="col-md-7">
      {% label user_form.last_name %}

      {% input_field user_form.last_name request.method 'Jospin' %}
      {% errors user_form.last_name %}
    </div>
  </div>

  {# Gender field #}
  <div class="form-group">
    {% label profile_form.gender %}

    <select id="{{ profile_form.gender.id_for_label }}"
            name="{{ profile_form.gender.html_name }}"
            class="form-control {% if request.method == "POST" %}
            {% if profile_form.gender.errors %}is-invalid{% else %}is-valid
            {% endif %}{% endif %}"
            aria-describedby="{{ profile_form.gender.id_for_label }}Help">
      {% for tag, value in profile_form.gender.field.choices %}
      <option value = "{{ tag }}"{% if profile_form.gender.value == tag %}
            selected{% endif %}>{{ value }}</option>
      {% endfor %}
    </select>

    {% errors profile_form.gender %}
  </div>

  {# Localisation fields #}
  <div class="form-group">
    {% label profile_form.location %}

    {% input_field profile_form.location request.method "Cintegabelle, Occitanie, France" location %}
    {% errors profile_form.location %}
  </div>

  {# Password change #}
  <div class="form-group">
    <label for="id_password">
      Mot de passe :
    </label>
    <a href={% url 'admin:password_change' %}>
      <button id="id_password" class="btn btn-sm btn-primary" type="button">
        Modifier
      </button>
    </a>
  </div>

  {# Photo field #}
  <div class="form-group">
    {% label profile_form.photo %}

    {% input_field profile_form.photo request.method %}
    {% errors profile_form.photo %}
  </div>

  <div class="form-group">
    {% label profile_form.promo %}
    <div class="row">
      <div class="col-3">
        {% input_field profile_form.promo request.method 2002 %}
        {% help_text profile_form.promo %}
        {% errors profile_form.promo %}
      </div>
      <div class="col form-check pt-2">
        {% input_field profile_form.gap_year request.method %}
        {% label profile_form.gap_year "J'ai fait une césure" %}
      </div>
    </div>
  </div>

  {# bio field #}
  <div class="form-group">
    {% label profile_form.bio %}

    <textarea id="{{ profile_form.bio.label }}"
              name="{{ profile_form.bio.html_name }}"
              rows="3"
              maxlength="{{ profile_form.bio.field.max_length }}"
              class="form-control {% if request.method == "POST" %}
              {% if profile_form.bio.errors %}is-invalid
              {% else %}is-valid{% endif %}{% endif %}"
              aria-describedby="{{ profile_form.bio.id_for_label }}Help"
              >{{ profile_form.bio.value }}</textarea>
    {% errors profile_form.bio %}
  </div>

  {# leisure field #}
  {# this field is tricky as it use select2 so we render it manually #}
  <div class="form-group">
    {% label profile_form.leisure %}
    <select class="form-control {% if request.method == 'POST' %}
    {% if profile_form.leisure.errors %} is-invalid
    {% else %} is-valid	{% endif %}
    {% endif %}"
            id="{{ profile_form.leisure.id_for_label }}"
            name="{{ profile_form.leisure.html_name }}"
            multiple="multiple">
      {% for leisureTag, selected in leisureTags %}
      <option value="{{ leisureTag.tag }}"{% if selected %}
              selected="selected"{% endif %}>
      {{ leisureTag.tag }}
      </option>
      {% endfor %}
    </select>
    {% errors profile_form.leisure %}

    <script charset="utf-8">
      $("#{{ profile_form.leisure.id_for_label }}").select2( {
      tags: true,
      createTag: function(params) {
        var term = $.trim(params.term);
        if (term==""){return null;}
        return {
          id: term,
          value: term,
          text: term
        }
      },
      width: "100%",
      theme: "bootstrap4",
      });
    </script>
  </div>

  {# miscelaneous field #}
  <div class="form-group">
    {% label profile_form.miscellaneous %}

    <textarea id="{{ profile_form.miscellaneous.label }}"
              name="{{ profile_form.miscelaneous.html_name }}"
              rows="3"
              maxlength="{{ profile_form.miscellaneous.field.max_length }}"
              class="form-control {% if request.method == "POST" %}
              {% if profile_form.miscellaneous.errors %}is-invalid
              {% else %}is-valid{% endif %}{% endif %}"
              aria-describedby="{{ profile_form.miscellaneous.id_for_label }}Help"
              >{{ profile_form.miscellaneous.value }}</textarea>
    {% errors profile_form.miscellaneous %}
  </div>

  <div class="form-group row mx-0 justify-content-between">
    <button class="btn btn-primary" type="submit">Sauvegarder</button>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
      Supprimer profil
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Suppression du profil</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Vous êtes sur le point de supprimer votre profil. Cette action est
            irréversible. Voulez-vous poursuivre ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                                  data-dismiss="modal">Fermer</button>
            <a role="button" href="{% url 'delete_profile' %}" class="btn
            btn-danger">Supprimer profil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{# Script that retrieve the suggestion from photon.komoot.de #}
<script>
  $( "#{{ profile_form.location.id_for_label }}" ).keyup(function() {
    // Make a request to the photon API
    // We make the request in french, limit to 4 results, center around Paris, and
    // limited to place or address
    $.getJSON( "https://photon.komoot.de/api/", {q:$(this).val(), lang: "fr",
      osm_tag:"place", limit:4, lat:48.8561, lon:2.3483}, function( data ) {
        // we will store the text to show as a suggestion here
        var items = [];
        data = data["features"];
        // we loop through the result to extract the location name
        $.each( data, function( key, val ) {
          if (val["properties"]["osm_value"] == "country") {
            items.push(val["properties"]["name"]);
          } else if (val["properties"]["osm_value"] == "state") {
            items.push(val["properties"]["name"]+", "+
              val["properties"]["country"]);
          } else {
            items.push(val["properties"]["name"]+", "+ val["properties"]["state"]+", "+ val["properties"]["country"]);
          }
        });
        // finally we place it in the suggestion of the field
        $( "#{{ profile_form.location.id_for_label }}" ).autocomplete({
          source: items
        });
      });
  });
</script>
{% endblock content %}
