{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans "Welcome" %}</h1>

<p>{% blocktrans trimmed %}
Welcome on the website of Salle T Alumni.
{% endblocktrans %}</p>
{% url 'register_profile' as register_url %}
<p>{% blocktrans trimmed %}
This website is intended for the member of the association. Only them can access
its content. If you are a member, you can ask for an account by registering <a
  href="{{ register_url }}">here</a>. The request will be send to board members.
They will have to accept it before you can connect.
{% endblocktrans %}</p>
{% endblock content %}
